<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title or "KP Panel" }}</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav class="navbar">

    <a href="/" class="brand">
        KP PANEL
    </a>

    <div class="nav-links">

        <a href="/">Shop</a>

        {% if logged %}

            <span class="username">
                👤 {{ session.username }}
            </span>

            <a href="/logout">
                Logout
            </a>

        {% else %}

            <a href="/login">
                Login
            </a>

            <a href="/register">
                Create Account
            </a>

        {% endif %}

        {% if admin %}

            <a class="admin-link" href="/admin">
                Admin Panel
            </a>

        {% endif %}

    </div>

</nav>


<main>

    {% with messages = get_flashed_messages() %}

        {% for message in messages %}

            <div class="flash">
                {{ message }}
            </div>

        {% endfor %}

    {% endwith %}


    {% block content %}

    {% endblock %}

</main>

</body>
</html>
